.main
{
    padding: 1%;
    margin: 0; 
}
.temps
{
    text-align: center;
}
.temps label
{
    margin-right: 2%;
    margin-top: 2%;
    font-size: 1.2em;
    background-color: #ccc;
    padding: 1%;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.856);
}
.horloge
{
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
    justify-content: center;
    
}
.le-tout
{
    margin-left: 18%;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 65%;
    border: #000000 solid 1px;
}
.cartouche
{
    width: 60%; 
    height: auto;
    border: 2px solid#ccc;
    justify-content: left;
    display: flex;
    margin-left: 0.5%;
    padding: 1%;
    margin-bottom: 1%;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
}
.cartouche-materialise
{
    width: 60%; 
    height: auto;
    border: 2px solid#ccc;
    padding: 1%;
    margin-left: 0.5%;
    justify-content: left;
    display: flex;
    margin-bottom: 1%;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
}
.cartouche-materialise .line
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom:solid 1px #ccc ;
    margin-top: 10px;
    padding-bottom: 0;
}
.cartouche-materialise .line .text
{
    justify-content: space-between;
    margin-bottom: 0;
}
.cartouche-materialise .line .text p
{

    margin-bottom: 0;
}
.cartouche-materialise .line .m
{
    justify-content: space-between;
    justify-content: right;
    margin-left: auto;
    margin-bottom: 0;
}
.cartouche .line
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom:solid 1px #ccc ;

}
.cartouche .text
{
    
    justify-content: space-between;
}
.cartouche .line .text p
{   
    padding-top: 15%;
    margin-bottom: 0;
    text-align: center;
    justify-items: center;
}
.containe-cartouche
{

    width: 170px;
}



/* ALERTES*/



.tous-alerte
{
   
    position: absolute;
    width: 39%;
    top: 0;
    right: 0;   
}
h1
{
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}
.table-alerte
{
    z-index: 20;
    background-color: white;
    width: 95%;
    max-height: 150px;
    display: flex;
    border: #ccc solid 1px;
    box-sizing: border-box;
    padding: 1.5%;
    padding-left: 0%;
    overflow: auto;
}
.table-alerte table
{
    width: 100%;

}
.table-alerte table th
{
    text-align: center;
}
.table-alerte table td:nth-child(1)
{
   padding-left: 0.5%;
   max-width: 80px;
   
}
.table-alerte table td:nth-child(2)
{
   padding: 0% 2% 0% 2%;
   max-width: 150px;
}
.table-alerte table td:nth-child(3)
{
   padding: 0% 0% 0% 0.5%;
}
#pour_border{
    border-right: solid #929292 1px;
}
.pour_border
{
    border-bottom: solid #929292 1px; 
     
}
.table-alerte table tr th,td
{
    padding: 1%;
   font-size: 16px;

}


