.main
{
    padding: 2%;
}
.temps
{
    text-align: center;
}
.temps label
{
    margin-right: 2%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 1.3em;
    background-color: #ccc;
    padding: 1%;
    font-weight: 800;
}
.containe_horloge
{
    justify-content: center;
    align-items: center;
    display: grid;
}